pyrogram==2.0.106
tgcrypto==1.2.5
boto3==1.34.162
python-dotenv==1.0.1
aiofiles==23.2.1
requests==2.31.0
humanize==4.8.0
aiofiles
boto3
botocore
humanize
pyrogram
python-dotenv
requests
tgcrypto
flask